
 <div class="text-center bg-transparent">
    
           <%= render inline:Rails.root.join('public/header.svg' ).read %>
     
     
  </div>
  <br>
  
   <main role="main">

     

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.unicef.org/nigeria/sites/unicef.org.nigeria/files/styles/two_column/public/VS_Borno_003.jpg?itok=tCkZdT5o" alt="Generic placeholder image" width="400" height="400">
           
          </div><!-- /.col-lg-4 -->
        
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.thecable.ng/wp-content/uploads/2018/01/Bauchi-students1-1280x720.jpg" alt="Generic placeholder image" width="400" height="400">
            
          </div><!-- /.col-lg-4 -->
      
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.dateline.ng/wp-content/uploads/2021/02/Bauchi-780x422.jpg" alt="Generic placeholder image" width="400" height="400">
            
           
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

       <footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
     
      <small class="d-block mb-3 text-muted">&copy; Bauchi State Ministry of Education</small>
       
    </div>
   
    
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">e-Learning</a></li>
        <li><a class="link-secondary" href="#">Statistics</a></li>
        <li><a class="link-secondary" href="#">Academic Calendar</a></li>
        <li><a class="link-secondary" href="#">Portal</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Site map</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">FAQs</a></li>
        <li><a class="link-secondary" href="#">Locations</a></li>
        <li><a class="link-secondary" href="#">Privacy</a></li>
        <li><a class="link-secondary" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
<hr class="navbar-divider">
      <!-- FOOTER -->
      <footer class="container" align="center" >
        <p class="float-right"><a href="#">Back to top</a></p>
        <p align="center">2021 - Megaright Resources / Cyber Fortress. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>
  </body>